/* Links */
a,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

a {
	display: block;
}

@font-face {
	font-family: bauhs;
	src: url('~@/assets/fonts/BAUHS93.TTF');
}

body {
	background-color: #333;
	color: #636b6f;
	color: #fff;
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	font-weight: 200;
	margin: 0;
	font-size: 16px;

	display: grid;
	grid-auto-rows: minmax(100px, auto);
	min-height: 100vh;
}

h6>a {
	color: #777;
	text-shadow: none;
}

select {
	display: block;
}

p {
	text-indent: 30px;
}

input[type=file] {
	outline: 0;
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

#app {
	max-width: 100%;
	margin: 0 auto;
}

/*
 * Header
 */
.masthead {
	height: 100px;
	line-height: 100px;
	display: grid;
}

.logo {
	font-size: 48px;
	font-weight: 400;
	font-family: 'bauhs', sans-serif;
	line-height: 100px;
	text-align: center;
}

.nav {
	font-weight: 400;
	justify-self: end;
}

.nav-element {
	display: inline-grid;
}

.nav-element a {
	padding: 0 15px;
	display: block;
}

/*
 * home page
 */
.welcome {
	display: grid;
}

.genre {
	align-self: start;
	background-color: rgb(40,40,40);
	border-radius: 3px;

	position: sticky;
	top: 25px;
	padding: 10px 20px;
	display: grid;
}

.genre-title {
	text-align: center;
	padding: 6px 0;
}

.genre-elem {
	padding: 6px 0;
	transition: color ease-in-out .2s;
}

.genre-elem:hover {
	color: #009688;
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.book-short {
	position: relative;
	overflow: hidden;
}

.book-short a {
	padding: 0;
	margin: 0;
}

.bs-img {
	width: 100%;
	height: 100%;
	filter: blur(2px);
	transition: filter ease-in-out .5s;
}

.bs-btn {
	background: rgba(255,255,255,.9);
	color: #303030;
	text-shadow: none;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	width: 100%;
	bottom: -50px;
	transition: bottom ease-in-out .2s;
}

.book-short a:hover .bs-img {
	filter: blur(0px);
	bottom: 0px;
}

.book-short:hover .bs-btn {
	bottom: 0px;
}

/*
 * view page
 */
.view {
	display: grid;
	grid-gap: 30px;
}

.view-head {
	position: relative;
	overflow: hidden;
}

.view-background {
	height: 300px;
	background: no-repeat;
	background-size: cover;
	filter: blur(10px);
}

.view-background img {
	width: 102%;
	margin-left: -10px;
	margin-top: -10px;
}

.view-content {
	position: absolute;
	top: 0;
	height: 100%;
	padding: 20px;
	display: grid;
	align-content: center;
}

.image {
	height: 300px;
}

.info {
	display: grid;
	grid-gap: 30px;
	font-size: 18px;
}

.book-title {
	font-size: 30px;
}

.chapters {
	border-top: solid 2px #545454;
	margin-bottom: 30px;
}

.chapter-elem {
	padding: 6px 12px;
	border-bottom: solid 2px #545454;
}

.chapter-elem:hover {
	background: url(images/next.png) no-repeat #393939;
	background-position: 5px 50%;
	background-size: 22px;
	padding-left: 33px;
}

.read {
	padding: 10px 20px;
}

.title {
	font-size: 32px;
	margin: 0;
}

.nav-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text {
	margin-top: 20px;
}

.btn-green {
	background: #009688;
	padding: 5px 12px;
}

.btn-prev {
	justify-self: start;
	margin-top: 20px;
}

.btn-next {
	justify-self: end;
	margin-top: 20px;
}

.fsearch {
	color: #fff;
}

/*
 * Upload page
 */

/*.add div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	vertical-align: center;
}*/

.admin {
	display: grid;
	grid-gap: 20px;
}

.choice {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	font-size: 20px;
}

.active {
	border-bottom: solid 5px #00c89f;
}

.elem {
	display: grid;
	grid-template-columns: 600px repeat(3, 1fr);
	text-align: center;
	height: 60px;
}

.action {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 40px;
}

.plus {
	display: block;
	width: 100px;
	padding-top: 100px;
	background: url(images/plus.png) no-repeat 50% 50% #aaa;
	background-size: 80px;
	transition: background .3s;
	cursor: pointer;
}

.plus:hover {
	background-image: url(images/plus_hover.png);
}

.edit {
	display: block;
	width: 40px;
	padding-top: 40px;
	background: url(images/edit.png) no-repeat 50% 50% #aaa;
	background-size: 40px;
	transition: background .3s;
	cursor: pointer;
}

.edit:hover {
	background-image: url(images/edit_hover.png);
}

.delete {
	display: block;
	width: 40px;
	padding-top: 40px;
	background: url(images/delete.png) no-repeat 50% 50% #aaa;
	background-size: 40px;
	transition: background .3s;
	cursor: pointer;
}

.delete:hover {
	background-image: url(images/delete_hover.png);
}

.header-action {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
}

.back-btn {
	justify-self: end;
	line-height: 35px;
	font-size: 22px;
	background: url(images/back.png) no-repeat #009688;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 10px;
}

.form {
	display: grid;
	grid-gap: 20px;
	margin-top: 20px;
}

.form input {
	color: #fff;
	margin-bottom: 0;
}

.form button {
	margin-bottom: 20px;
	width: 200px;
	line-height: 30px;
}

.add-descr {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.long-text .area, .long-text .area-result {
	height: 800px;
}

.area, .area-result {
	outline: none;
	background: #fff;
	resize: none;
	height: 300px;
	color: #333;
	border: none;
	padding: 5px 15px;
}

.area-result {
	background: #eee;
}

.label {
	width: 130px;
	height: 130px;
	border: dashed 2px #777;
	border-radius: 5px;
	display: block;
	padding: 15px;
	cursor: pointer;
	text-align: center;
	transition: border ease-in-out .5s;
}

.label i {
	display: block;
	font-size: 42px;
	padding-bottom: 16px;
}

.label i, .add-file {
	color: #777;
	transition: color ease-in-out .5s ;
}

.label:hover {
	border: solid 2px #aaa;
}

.label:hover i, .label:hover .add-file {
	color: #aaa;
}

.preview_image {
	display: grid;
	grid-template-columns: 150px 1fr;
}

.preview_image img {
	max-height: 300px;
}

.success {
	background: rgba(0,200,159,.1);
	line-height: 50px;
	font-size: 20px;
	padding-left: 20px;
	border-left: solid 5px #00c89f;
	overflow: hidden;
}

.error {
	background: rgba(244,88,74,.1);
	line-height: 50px;
	font-size: 20px;
	padding-left: 20px;
	border-left: solid 5px #f4584a;
	overflow: hidden;
}

.message-enter-active, .message-leave-active {
	transition: line-height .5s;
}

.message-enter, .message-leave-to {
	line-height: 0px;
}

.loading {
	text-align: center;
	line-height: 200px;
	font-size: 22px;
}

.margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media(min-width: 1200px) {
	#app {
		width: 1200px;
		margin: 0 auto;
	}

	.masthead {
		height: 100px;
		line-height: 100px;
		grid-template-columns: 1fr 1fr;
	}

	.logo {
		line-height: 100px;
		justify-self: start;
		text-align: center;
	}

	.welcome {
		grid-template-columns: 200px 1fr;
		grid-gap: 25px;
		width: 1200px;
	}

	.list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
	}

	.book-short {
		max-width: 230px;
		max-height: 330px;
		overflow: hidden;
	}
}

@media(min-width: 720px) and (max-width: 1199px) {
	#app {
		max-width: 1200px;
		margin: 0 auto;
	}

	.masthead {
		height: 100px;
		line-height: 100px;
		grid-template-columns: 1fr 1fr;
	}

	.logo {
		line-height: 100px;
		justify-self: start;
		text-align: center;
	}

	.welcome {
		grid-template-columns: 200px 1fr;
		grid-gap: 15px;
	}

	.list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 15px;
	}

	.book-short {
		max-width: 280px;
	}

	.read {
		padding: 10px 0;
	}

	.view-background {
		height: 400px;
	}

	.view-content {
		padding-left: 100px;
		display: grid;
	}

	.image {
		height: 400px;
	}

	.search, .upload {
		max-width: 1200px;
	}
}

@media(max-width: 720px) {
	p {
		text-indent: 20px;
	}

	.nav {
		display: none;
	}

	.genre {
		display: none;
	}

	.list {
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		padding: 15px;
	}
}

@media(max-width: 320px) {
	.nav {
		display: none;
	}

	.genre {
		display: none;
	}

	.list {
		grid-template-columns: 1fr;
		padding: 15px;
	}
}