/* Links */
a,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

a {
	display: block;
}

@font-face {
	font-family: bauhs;
	src: url('~@/assets/fonts/BAUHS93.TTF');
}

body {
	/*min-height: 100%;*/
	background-color: #333;
	color: #636b6f;
	color: #fff;
	/*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	font-weight: 200;
	margin: 0;
	font-size: 16px;

	display: grid;
	/*grid-template-rows: 1fr;*/
	grid-auto-rows: minmax(100px, auto);
}

h6>a {
	color: #777;
	text-shadow: none;
}

#app {
	max-width: 100%;
	margin: 0 auto;
}

/*
 * Header
 */
.masthead {
	height: 100px;
	line-height: 100px;
	display: grid;
}

.logo {
	font-size: 48px;
	font-weight: 400;
	font-family: 'bauhs', sans-serif;
	line-height: 100px;
	text-align: center;
}

.nav {
	font-weight: 400;
	justify-self: end;
}

.nav-element {
	display: inline-grid;
}

.nav-element a {
	padding: 0 15px;
	display: block;
}

/*
 * home page
 */
.welcome {
	display: grid;
	/*grid-template-columns: 200px 1fr;*/
}

.genre {
	align-self: start;
	background-color: rgb(40,40,40);
	border-radius: 3px;
	/*max-height: 500px;*/

	position: sticky;
	top: 25px;
	padding: 10px 20px;
	display: grid;
}

.genre-title {
	text-align: center;
	padding: 6px 0;
}

.genre-elem {
	padding: 6px 0;
	/*border-top: solid 1px rgba(255,255,255,.1);*/
	transition: color ease-out .2s;
}

.genre-elem:hover {
	color: #009688;
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.book-short {
	position: relative;
	overflow: hidden;
}

.book-short a {
	/*max-height: 330px;*/
	padding: 0;
	margin: 0;
}

.bs-img {
	width: 100%;
	height: 100%;
	filter: blur(2px);
	transition: filter ease-out .5s;
}

.bs-btn {
	background: rgba(255,255,255,.9);
	color: #303030;
	text-shadow: none;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	width: 100%;
	bottom: -50px;
	transition: bottom ease-out .2s;
}

.book-short a:hover .bs-img {
	filter: blur(0px);
	bottom: 0px;
}

.book-short:hover .bs-btn {
	bottom: 0px;
}

/*.btn-black {
	background-color: #101010;
	border-radius: 3px;
	padding: 10px 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 140px;
}

.btn-name {
	justify-self: start;
}

.btn-ico {
	justify-self: end;
	height: 24px;
	width: 24px;
	background: url(images/arrow.png);
}*/

/*
 * view page
 */
.view {
	display: grid;
	grid-gap: 30px;
}

.view-head {
	position: relative;
	overflow: hidden;
}

.view-background {
	height: 300px;
	background: no-repeat;
	background-size: cover;
	filter: blur(10px);
}

.view-background img {
	width: 102%;
	margin-left: -10px;
	margin-top: -10px;
}

.view-content {
	position: absolute;
	top: 0;
	height: 100%;
	padding: 20px;
	display: grid;
	align-content: center;
}

.image {
	height: 300px;
}

.info {
	display: grid;
	grid-gap: 30px;
	font-size: 18px;
}

.book-title {
	font-size: 30px;
}

.chapters {
	border-top: solid 2px #545454;
	margin-bottom: 30px;
}

.chapter-elem {
	padding: 6px 12px;
	border-bottom: solid 2px #545454;
}

.chapter-elem:hover {
	background: url(images/next.png) no-repeat #393939;
	background-position: 5px 50%;
	background-size: 22px;
	padding-left: 33px;
}

.read {
	padding: 10px 20px;
}

.title {
	font-size: 32px;
	margin: 0;
}

.nav-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text {
	margin-top: 20px;
}

.btn-green {
	background: #009688;
	padding: 5px 12px;
}

.btn-prev {
	justify-self: start;
	margin-top: 20px;
}

.btn-next {
	justify-self: end;
	margin-top: 20px;
}

.fsearch {
	color: #fff;
}

@media(min-width: 1200px) {
	#app {
		max-width: 1200px;
		margin: 0 auto;
	}

	.masthead {
		height: 100px;
		line-height: 100px;
		grid-template-columns: 1fr 1fr;
	}

	.logo {
		line-height: 100px;
		justify-self: start;
		text-align: center;
	}

	.welcome {
		grid-template-columns: 200px 1fr;
		grid-gap: 25px;
		width: 1200px;
	}

	.list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
	}

	.book-short {
		max-width: 230px;
	}

	.search {
		width: 1200px;
	}
}

@media(min-width: 720px) and (max-width: 1199px) {
	#app {
		max-width: 1200px;
		margin: 0 auto;
	}

	.masthead {
		height: 100px;
		line-height: 100px;
		grid-template-columns: 1fr 1fr;
	}

	.logo {
		line-height: 100px;
		justify-self: start;
		text-align: center;
	}

	.welcome {
		grid-template-columns: 200px 1fr;
		grid-gap: 15px;
	}

	.list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 15px;
	}

	.book-short {
		max-width: 280px;
	}

	.read {
		padding: 10px 0;
	}

	.view-background {
		height: 400px;
	}

	.view-content {
		padding-left: 100px;
		display: grid;
	}

	.image {
		height: 400px;
	}
}

@media(max-width: 720px) {
	.nav {
		display: none;
	}

	.genre {
		display: none;
	}

	.list {
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		padding: 15px;
	}
}

@media(max-width: 320px) {
	.nav {
		display: none;
	}

	.genre {
		display: none;
	}

	.list {
		grid-template-columns: 1fr;
		padding: 15px;
	}
}